<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.okawa.jetpack.arch.current">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_current">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>